 
{% include 'adminheader.html' %}


<h1>    VIEW TRANSCATIONS  </h1>

        <table class="table" id="customers">
		<tr>
			<th>Transcation ID</th>
			<th>Transcation Name</th>
			<th>Details</th>
			<th>Amount</th>
			<th>Date</th>
			<th>Status</th>
		</tr>
		{% for i in data['view'] %}
		<tr>
			<td>{{i['transcationid']}}</td>
			<td>{{i['transcation_name']}}</td>
			<td>{{i['details']}}</td>
			<td>{{i['amount']}}</td>
			<td>{{i['date']}}</td>
			<td>{{i['status']}}</td>
		</tr>
		{% endfor %}
	</table>
</center>

{% include 'footer.html' %}