 {% include 'adminheader.html'%}

       
<h1>    VIEW TRANSACTIONS </h1>

        <table class="table" id="customers">
            <tr>
            <th>ID</th>
            <th>Plan</th>
            <th>Description</th>
            <th>Files</th>
            <th>Transcations</th>
               
            {% for i in data['view'] %}
            <tr>
            <td>{{i['planid']}}</td>
            <td>{{i['plan']}}</td>
            <td>{{i['desc']}}</td>
            <td><a href="/{{i['filename']}}" class="btn btn-danger" >View Files</a></td>
                   
            <td><a class="btn btn-success" href="admin_view_transcation?plans_id={{i['plans_id']}}">View Transcation</a></td>


            </tr>
            {%endfor%}
        </table>
   

{% include 'footer.html'%}




