 {% include 'dde_header.html'%}

       
<h1>    VIEW PLANS </h1>

        <table class="table" id="customers">
            <tr>
            <th>ID</th>
            <th>Plan</th>
            <th>Description</th>
            <th>Files</th>
            <th>status</th>
               
            {% for i in data['view'] %}
            <tr>
            <td>{{i['planid']}}</td>
            <td>{{i['plan']}}</td>
            <td>{{i['desc']}}</td>
            <td><a href="/{{i['filename']}}" class="btn btn-danger" >View Files</a></td>
            <td> {{i['status']}}</td>
            {% if i['status']=='approve and forward to DDE' %}
            <td><a class="btn btn-success" href="dde_assign_deo?plans_id={{i['plans_id']}}">Assign </a></td>


<!--             <td><a class="btn btn-warning" href="?action=accept&rid={{i['plans_id']}}">Approve</a></td>
 -->            <td><a class="btn btn-danger" href="?action=reject&rid={{i['plans_id']}}">Decline</a></td>
             {% endif %}

            {% if i['status']=='deo_verify' %}
            <td><a class="btn btn-success" href="dde_view_transcation?plans_id={{i['plans_id']}}">View Transcation</a></td>

            {% endif %}






            </tr>
            {%endfor%}
        </table>
   

{% include 'footer.html'%}




